
tr, td { transition: .4s ease-in; } 
tr:hover:not(#firstrow), tr:hover td:empty {background: linear-gradient(#51728a,#51648a); pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.05); font-weight: 700;color: white; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);}
